<div id="angularRoot">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="75%">
          Unassigned Task
        </mat-panel-title>
        <span fxFlexAlign="center end">
            <button color="primary" mat-mini-fab="" *ngIf="iconFlag">
                <span matTooltip="Save"><i class="material-icons">save</i></span>
        </button>
        <button color="primary" mat-mini-fab="" *ngIf="iconFlag">
          <span matTooltip="Reassign"><i class="material-icons">assignment_ind</i></span>
        </button>
        <button color="primary" mat-mini-fab="" *ngIf="iconFlag">
          <span matTooltip="Reopen"><i class="material-icons">history</i></span>
        </button>
        <button color="primary" mat-mini-fab="" *ngIf="iconFlag">
          <span matTooltip="Close"><i class="material-icons">highlight_off</i></span>
        </button>
        </span>

      </mat-expansion-panel-header>

      <bh--unassignedtask [data]="caseArr"></bh--unassignedtask>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="60%">
          My team tasks
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="example-container mat-elevation-z8">
        <mat-table #table="" [dataSource]="dataSourceAsig">

          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef=""> Assign </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox></mat-checkbox>
            </mat-cell>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="agentName">
            <mat-header-cell *matHeaderCellDef=""> Agent Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="anchorFake" (click)="asigned(element)">{{element.case.agentName}}</span>
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="assignedUser">
            <mat-header-cell *matHeaderCellDef=""> Customer Name </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="asigned(element)"> <span class="anchorFake"> {{element.case.assignedUser}}</span> </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="policyNumber">
            <mat-header-cell *matHeaderCellDef=""> Policy No </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="asigned(element)"> <span class="anchorFake">{{element.case.policyNumber}} </span></mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="caseId">
            <mat-header-cell *matHeaderCellDef=""> Case Id </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="asigned(element)"><span class="anchorFake">{{element.case.caseId}} </span> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="services">
            <mat-header-cell *matHeaderCellDef=""> Services </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngFor="let service of element.services">
                  <i class="material-icons" *ngIf="service.serviceType==&apos;ambulance&apos;" (click)="displayService(service)">local_hospital</i>
                  <i class="material-icons" *ngIf="service.serviceType==&apos;towing&apos;" (click)="displayService(service)">rv_hookup</i>
                  <i class="material-icons" *ngIf="service.serviceType==&apos;roadside assist&apos;" (click)="displayService(service)">phone</i>
                  <i class="material-icons" *ngIf="service.serviceType==&apos;taxi&apos;" (click)="displayService(service)">local_taxi</i>
                  <i class="material-icons" *ngIf="service.serviceType==&apos;car hire&apos;" (click)="displayService(service)">directions</i>
                </span>







            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsAs"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsAs;"></mat-row>
        </mat-table>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="60%">
          My tasks
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>test1</li>
        <li>test2</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>