<div id="angularRoot">
  <mat-accordion>
    <mat-expansion-panel (opened)="iconFlag =!iconFlag " (closed)="iconFlag = !iconFlag">
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="75%">
          Unassigned Task
        </mat-panel-title>
        <bh-caseoptions *ngIf="iconFlag"></bh-caseoptions>
      </mat-expansion-panel-header>

      <bh--unassignedtask [data]="caseArr"></bh--unassignedtask>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="60%">
          My team tasks
        </mat-panel-title>
        <bh-caseoptions *ngIf="teamFlag"></bh-caseoptions>

        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <bh-myteamtask [data]="caseArr"></bh-myteamtask>



    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="60%">
          My tasks
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>test1</li>
        <li>test2</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>