<div id="angularRoot">
  <div fxLayout="row" fxLayoutWrap="fxLayoutWrap" fxShow="true" fxHide="false" id="6965f233-0f43-70ae-e02f-02c1c6ac7be1" fxFill="">
    <div fxLayout="column" fxFlex="20" fxLayoutGap="1" fxShow="true" fxHide="false" id="3e59c7d4-b81f-7098-a6e7-26bd0e44039a">
      <bh-monitorc class="height-100"></bh-monitorc>
    </div>
    <div fxLayout="column" fxFlex="40" fxShow="true" fxHide="false" id="218264c9-6c97-e0b2-7d62-baa4ff4e47e2" [ngClass]="{contentShown:!displayedContent}">
      <div fxLayout="row" style="padding:2%" fxFlex="70" fxShow="true" fxHide="false" id="a99c7503-6492-b18e-cb74-52ac7800982a" *ngIf="display==&apos;active&apos;">
        <bh-activeacord [caseArr]="casesArr" style="width:100%"></bh-activeacord>
      </div>
      <div fxLayout="row" style="padding:2%;" fxShow="true" fxHide="false" id="dc381fe4-5733-4366-2cb8-25ff3ae59380" *ngIf="display==&apos;unassigned&apos;">
        <div fxLayout="column" fxFlex="100" fxShow="true" fxHide="false" id="a15dd816-6ca4-63f7-9236-aa5d8aad0cf7">
          <h3 id="9bd01a72-899c-c971-0677-fb3dd0197f46" *ngIf="display==&apos;unassigned&apos;">Unassigned Task </h3>
          <bh--unassignedtask [data]="casesArr" *ngIf="display==&apos;unassigned&apos;" fxFlex="100%"></bh--unassignedtask>
        </div>
      </div>
    </div>
    <div fxLayout="column" style="overflow-y:scroll;" fxFlex="40" fxShow="true" fxHide="false" id="66cab300-c483-9b3c-c680-00b49fe27e60" *ngIf="displayedContent">
      <bh-caseinfodisplay *ngIf="displayInfo" [displayInfo]="displayInfo" [mode]="mode"></bh-caseinfodisplay>
      <bh-serviceinfodisplay *ngIf="service" [displayInfo]="service"></bh-serviceinfodisplay>
    </div>
  </div>
</div>