/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* You can add global styles to this file, and also import other style files */
.fill{
    
}
html,
body {
    height: 100%;
    margin: 0;
  text-transform: capitalize;
}

#angularRoot {
    height: 100%;
}

.home-tabgroup {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
}

.home-tabgroup>.mat-tab-body-wrapper {
    height: calc(100vh - 113px) !important;
}

.monitor-tabgroup>.mat-tab-body-wrapper {
    height: 100%;
}

.home-card {
    padding: 0px !important;
}

.height-100 {
    height: 100%;
}

bh-infodisplay,
bh-caseinfodisplay,
bh-serviceinfodisplay,
bh-casescard {
    width: 100%;
}

.margin-0>p {
    margin: 0;
}

.info-card {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.info-card> :first-child {
    background-color: grey;
    color: white;
}

.selected-button {
    background-color: green !important;
}

.not-selected-button {
    background-color: red !important;
}

.button-nav{
	    padding: 5%;
    padding-bottom: 5px;
    margin: 0px;
    cursor: pointer;
    border-bottom: 1px solid;
}

.contentShown{
	max-width:100% !important;
}
.mat-cell, .mat-header-cell{
  text-align:center;
  overflow:unset !important;
}
.mat-header-cell{
    font-size: 1em;
    font-weight: 400;
    color: black;

}
.mat-fab{
	height:40px;
  width:40px;
}
.anchorFake{
  color:#673ab7;
  cursor:pointer;
}
.oddInput{
	padding-left: 20px !important;
}
.h3{
  font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0px;
    float: left;
}
.caseInfoButton{
	border-radius:30px;
  	border:1px solid;
}


.search{
 height : 30px;
  width:500px;
}
.searchdrop{
margin-left:-41px !important;
}
.searchBar{
  margin-top:250px;
}
.searchdrop.mat-icon-button{
  height : 30px;
}
.searchSubmit{
	background:#4387fd;
  	border:1px #4387fd;
}
ul{
list-style-type:none;
}

li{
	padding: 10px 0px;
}
.dropdownCust{
height:0px;
    overflow: hidden;
    transition: .5s ease;
}

.activeDrop{
	height:90px !important;
}

.mat-column-services .material-icons{
	font-size:16px !important;
 	cursor:pointer;
}

mat-panel-title{
  padding-top: 14px;
}
.contentShown .panel-title.mat-expansion-panel-header-title{
  max-width : 75% !important;
  margin-top:14px;
}
.dropdownCust .button-nav{
	border:none;
}
.button-nav.active span{
	color: #673ab7;
    font-weight: 700;
}
.button-nav.active{
	border-bottom:3px solid #673ab7;
}   
.filterCard{
width: 35%;
    position: absolute !important;
    top: 43px;
    z-index: 9999;
    left: calc(100%-100px);
}
.mat-column-status{
	line-height:20px;
}

